body {
  font-family: 'Poppins', sans-serif;
}


.show_data {
  width: 35rem;
  
  margin-left: 28vw;
  padding: 1rem 2rem;
  /* overflow-y: scroll; */
  max-height: 60vh;
}


.show_data div p span {
  font-weight: 700;
}
